// ==============================
// Custom style
// 自定义样式
// ==============================

kbd {
    display: inline-block;
    padding: 3px 5px;
    font: 11px ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
    line-height: 10px;
    color: #24292f;
    vertical-align: middle;
    background-color: #f6f8fa;
    border: solid 1px rgba(175,184,193,0.2);
    border-bottom-color: rgba(175,184,193,0.2);
    border-radius: 6px;
    box-shadow: inset 0 -1px 0 rgba(175,184,193,0.2);
}

.mermaid svg {
    height: auto !important; 
}

.tab-nav-button {
    border-width: 1px 1px 1px 1px !important;
    border-color: #ccc !important;
    border-radius: 4px 4px 0 0 !important;
    background-color: #ddd !important;
    float: left;
    display: block;
    position: relative;
    margin-left: 4px;
    bottom: -1px;
}
.tab-nav-button:first-child {
    margin-left: 0px;
}
.tab-nav-button.active {
    background-color: #fff !important;
    border-bottom-color: #fff !important;
}

.tab-panel {
    margin-top: 32px;
    margin-bottom: 32px;
}
// .tab-content {
//     display: block;
//     clear: both;
//     padding: 8px;
//     border-width: 1px;
//     border-style: solid;
//     border-color: #ccc;
// }
.tab-content .tab-item{
    display: none;
}

.tab-content .tab-item.active{
    display: block;
}

.tab-item pre{
    margin-bottom: 0;
    margin-top: 0;
}